定期評量通知單-epost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
定期評量通知單-epost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
定期評量通知單-epost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
定期評量通知單-epost/obj/Debug/JHSchool.Data.xml
定期評量通知單-epost/obj/Debug/定期評量通知單_hwhs_epost.csproj.FileListAbsolute.txt
定期評量通知單-epost/obj/Debug/定期評量通知單_hwhs_epost.csproj.CopyComplete
定期評量通知單-epost/obj/Debug/hwhs.epost.定期評量通知單.SelectTypeForm.resources
定期評量通知單-epost/obj/Debug/hwhs.epost.定期評量通知單.SelectDateRangeForm.resources
定期評量通知單-epost/obj/Debug/hwhs.epost.定期評量通知單.Properties.Resources.resources
定期評量通知單-epost/obj/Debug/hwhs.epost.定期評量通知單.AbsenceNotificationSelectDateRangeForm.resources
定期評量通知單-epost/obj/Debug/hwhs.epost.定期評量通知單.AbsenceNotificationConfigForm.resources
缺曠通知單-epost/obj/Debug/K12.缺曠通知單2015.SelectDateRangeForm.resources
缺曠通知單-epost/obj/Debug/K12.缺曠通知單2015.Properties.Resources.resources
缺曠通知單-epost/obj/Debug/K12.缺曠通知單2015.AbsenceNotificationSelectDateRangeForm.resources
缺曠通知單-epost/obj/Debug/K12.缺曠通知單2015.AbsenceNotificationConfigForm.resources
缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csproj.FileListAbsolute.txt
缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csproj.CopyComplete
缺曠通知單-epost/obj/Debug/K12.缺曠通知單2015.SelectTypeForm.resources
缺曠通知單-epost/.vs/ProjectSettings.json
缺曠通知單-epost/.vs/slnx.sqlite
缺曠通知單-epost/.vs/VSWorkspaceState.json
缺曠通知單-epost/.vs/缺曠通知單-epost/v16/.suo
缺曠通知單-epost/.vscode/launch.json
缺曠通知單-epost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
缺曠通知單-epost/obj/Debug/K12.AttendanceAnAdviceNote_hwhs_epost.dll
缺曠通知單-epost/obj/Debug/K12.AttendanceAnAdviceNote_hwhs_epost.pdb
缺曠通知單-epost/obj/Debug/K12.缺曠通知單_hwhs_epost.csproj.GenerateResource.cache
定期評量通知單-epost/定期評量通知單_hwhs_epost.csproj.user
定期評量通知單-epost/.vs/定期評量通知單_hwhs_epost/v16/.suo
定期評量通知單-epost/.vs/定期評量通知單_hwhs_epost/v16/Server/sqlite3/db.lock
定期評量通知單-epost/.vs/定期評量通知單_hwhs_epost/v16/Server/sqlite3/storage.ide
定期評量通知單-epost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
定期評量通知單-epost/obj/Debug/DevComponents.DotNetBar2.dll
定期評量通知單-epost/obj/Debug/ExamNotification_2019_hwhs_j_epost.dll
定期評量通知單-epost/obj/Debug/ExamNotification_2019_hwhs_j_epost.pdb
定期評量通知單-epost/obj/Debug/定期評量通知單_hwhs_epost.csproj.GenerateResource.cache
學期成績-epost/obj/Debug/hwhs.epost.定期評量通知單.Properties.Resources.resources
學期成績-epost/obj/Debug/hwhs.epost.定期評量通知單.AbsenceNotificationSelectDateRangeForm.resources
學期成績-epost/obj/Debug/hwhs.epost.定期評量通知單.AbsenceNotificationConfigForm.resources
學期成績-epost/obj/Debug/定期評量通知單_hwhs_epost.csproj.FileListAbsolute.txt
學期成績-epost/obj/Debug/定期評量通知單_hwhs_epost.csproj.CopyComplete
學期成績-epost/obj/Debug/hwhs.epost.定期評量通知單.SelectTypeForm.resources
學期成績-epost/obj/Debug/hwhs.epost.定期評量通知單.SelectDateRangeForm.resources
學期成績-epost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
學期成績-epost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
學期成績-epost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
學期成績-epost/obj/Debug/學期成績通知單_hwhs_epost.csproj.FileListAbsolute.txt
學期成績-epost/obj/Debug/學期成績通知單_hwhs_epost.csproj.CopyComplete
學期成績-epost/obj/Debug/hwhs.epost.學期成績通知單.SelectTypeForm.resources
學期成績-epost/obj/Debug/hwhs.epost.學期成績通知單.SelectDateRangeForm.resources
學期成績-epost/obj/Debug/hwhs.epost.學期成績通知單.AbsenceNotificationSelectDateRangeForm.resources
學期成績-epost/obj/Debug/hwhs.epost.學期成績通知單.AbsenceNotificationConfigForm.resources
